<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>

    <extension
         name="Mylyn User Study Example Plug-in"
         point="org.eclipse.ui.startup">
       <startup
             class="org.eclipse.mylyn.examples.monitor.study.MylynUserStudyExamplePlugin$MylynUserStudyExampleStartup"></startup>
    </extension>

   <extension
         point="org.eclipse.mylyn.monitor.usage.study">
         <scripts
         	url="http://my.server"
         	upload="upload.cgi"
         	userId="getUID.cgi"
         	questionnaire="questionnaire.cgi"/>
         <ui
         	title="Mylyn User Study Example"
         	daysBetweenUpload="6"
         	questionnairePage="org.eclipse.mylyn.examples.monitor.study.QuestionnaireWizardPage"
         	consentForm="doc/study-ethics.html"/>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.mylyn.ui.wizards.new"
            class="org.eclipse.mylyn.examples.monitor.study.FeedbackWizard"
            icon="icons/eview16/wizard-feedback.gif"
            id="org.eclipse.mylyn.monitor.ui.ui.wizards.FeedbackWizard"
            name="Feedback Submission">
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.mylyn.ui.wizards.new"
            class="org.eclipse.mylyn.internal.monitor.usage.wizards.UsageSubmissionWizard"
            icon="icons/eview16/wizard-feedback.gif"
            id="org.eclipse.mylyn.monitor.ui.ui.uploadStatistics.StatisticsUploadWizard"
            name="Usage Feedback">
      </wizard>
   </extension>
   
</plugin> 
