<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension
         id="org.eclipse.mylyn.web.repository"
         name="Generic web-based access (Advanced)"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.internal.web.tasks.WebRepositoryConnector"
            id="org.eclipse.mylyn.web.tasklist.repositories"
            name="Generic web-based repository"
            type="web"/>
      <connectorUi
            brandingIcon="icons/obj16/repository-web.gif"
            class="org.eclipse.mylyn.internal.web.tasks.WebConnectorUi"
            name="Generic web-based repsoitory UI"
            overlayIcon="icons/obj16/overlay-web.gif"/>
      <taskListFactory
            class="org.eclipse.mylyn.internal.web.tasks.WebTaskListFactory"
            id="org.eclipse.mylyn.web.tasklist.taskListFactory"/>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <editorFactory class="org.eclipse.mylyn.internal.web.tasks.WebTaskEditorFactory"/>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
           repositoryKind="web"
           label="Subclipse (IssueZilla)"
           urlRepository="http://subclipse.tigris.org/issues"
           urlTask="${serverUrl}/show_bug.cgi?id="
           urlNewTask="${serverUrl}/enter_bug.cgi?component=subclipse"
           urlTaskQuery="${serverUrl}/buglist.cgi?issue_status=NEW&amp;issue_status=STARTED&amp;issue_status=REOPENED&amp;order=Issue+Number">
         <attribute name="queryPattern"
                    value="&lt;a href=&quot;show_bug.cgi\?id\=(.+?)&quot;&gt;.+?&lt;span class=&quot;summary&quot;&gt;(.+?)&lt;/span&gt;"/>
     </repository>
     <repository
           repositoryKind="web"
           label="GlasFish (IssueZilla)"
           urlRepository="https://glassfish.dev.java.net/issues"
           urlNewTask="${serverUrl}/enter_bug.cgi?issue_type=DEFECT"
           urlTask="${serverUrl}/show_bug.cgi?id="
           urlTaskQuery="${serverUrl}/buglist.cgi?component=glassfish&amp;issue_status=NEW&amp;issue_status=STARTED&amp;issue_status=REOPENED&amp;order=Issue+Number">
        <attribute name="queryPattern"
                   value="&lt;a href=&quot;show_bug.cgi\?id\=(.+?)&quot;&gt;.+?&lt;span class=&quot;summary&quot;&gt;(.+?)&lt;/span&gt;"/>
     </repository>
     <!--
     <repository
           repositoryKind="web"
           label="Spring Framework (Jira)"
           urlRepository="http://opensource.atlassian.com/projects/spring"
           urlNewTask="${serverUrl}/secure/CreateIssue!default.jspa?pid=${projectId}"
           urlTask="${serverUrl}/browse/SPR"
           urlTaskQuery="${serverUrl}/secure/IssueNavigator.jspa?reset=true&amp;mode=hide&amp;pid=${projectId}&amp;resolution=-1&amp;sorter/field=updated&amp;sorter/order=DESC">
        <attribute name="queryPattern"
                   value="&lt;td class=&quot;nav summary&quot;&gt;\s+?&lt;a href=&quot;/projects/spring/browse/(.+?)&quot;.+?&gt;(.+?)&lt;/a&gt;"/>
        <attribute name="param_projectId" value="10000"/>
     </repository>
     <repository
           repositoryKind="web"
           label="SpringIDE (Trac)"
           urlRepository="http://springide.org/project"
           urlTask="${serverUrl}/ticket/"
           urlNewTask="${serverUrl}/newticket"
           urlTaskQuery="${serverUrl}/query?status=new&amp;status=assigned&amp;status=reopened&amp;order=id">
        <attribute name="queryPattern"
                   value="&lt;td class=&quot;summary&quot;&gt;&lt;a href=&quot;/project/ticket/(.+?)&quot; title=&quot;View ticket&quot;&gt;(.+?)&lt;/a&gt;&lt;/td&gt;"/>
     </repository>
     <repository
            repositoryKind="web"
            label="edgewall.org (Trac)"
            urlRepository="http://trac.edgewall.org"
            urlTask="${serverUrl}/ticket/"
            urlNewTask="${serverUrl}/newticket"
            urlTaskQuery="${serverUrl}/query?status=new&amp;status=assigned&amp;status=reopened&amp;order=id">
        <attribute name="queryPattern"
                   value="&lt;td class=&quot;summary&quot;&gt;&lt;a href=&quot;/ticket/(.+?)&quot; title=&quot;View ticket&quot;&gt;(.+?)&lt;/a&gt;&lt;/td&gt;"/>
     </repository>
     -->
     <repository
            repositoryKind="web"
            label="ASM (GForge)"
            urlRepository="http://forge.objectweb.org"
            urlTask="${serverUrl}/tracker/?group_id=${group_id}&amp;func=detail&amp;atid=${atid}&amp;aid="
            urlNewTask="${serverUrl}/tracker/?group_id=${group_id}&amp;func=add"
            urlTaskQuery="${serverUrl}/tracker/?group_id=${group_id}&amp;atid=${atid}&amp;_status=100&amp;set=custom">
        <attribute name="param_group_id" value="23"/>
        <attribute name="param_atid" value="100023"/>
        <attribute name="queryPattern"
                   value="&lt;a class=&quot;tracker&quot; href=&quot;/tracker/index.php\?func=detail&amp;aid=(.+?)&amp;group_id=${group_id}&amp;atid=${atid}&quot;&gt;(.+?)&lt;/a&gt;&lt;/td&gt;"/>
        <attribute name="loginRequestUrl"
                   value="${serverUrl}/account/login.php?return_to=&amp;form_loginname=${userId}&amp;form_pw=${password}&amp;login=Login&amp;stay_in_ssl=1"/>
     </repository>
     <repository
            repositoryKind="web"
            label="Azureus (SourceForge)"
            urlRepository="http://sourceforge.net/tracker"
            urlTask="${serverUrl}/?group_id=${group_id}&amp;func=detail&amp;atid=${atid}&amp;aid="
            urlNewTask="${serverUrl}/?group_id=${group_id}&amp;func=add"
            urlTaskQuery="${serverUrl}/?group_id=${group_id}&amp;atid=${atid}">
        <attribute name="param_group_id" value="84122"/>
        <attribute name="param_atid" value="575154"/>
        <attribute name="queryPattern"
                   value="&lt;a href=&quot;/tracker/index.php\?func=detail&amp;amp;aid=(.+?)&amp;amp;group_id=${group_id}&amp;amp;atid=${atid}&quot;&gt;(.+?)&lt;/a&gt;"/>
     </repository>
     <repository
            repositoryKind="web"
            label="phpbb.com (phpBB)"
            urlRepository="http://www.phpbb.com/phpBB"
            urlTask="${serverUrl}/viewtopic.php?t="
            urlNewTask="${serverUrl}/posting.php?mode=newtopic&amp;f=1"
            urlTaskQuery="${serverUrl}/viewforum.php?f=1">
        <attribute name="queryPattern"
                   value="&lt;a href=&quot;viewtopic.php\?t=(\d+?)(?:&amp;.+?)?&quot; class=&quot;topictitle&quot;&gt;(.+?)&lt;/a&gt;"/>
     </repository>
     <repository
            repositoryKind="web"
            label="Spring IDE Forum (vBulletin)"
            urlRepository="http://forum.springframework.org"
            urlTask="${serverUrl}/showthread.php?t="
            urlNewTask="${serverUrl}"
            urlTaskQuery="${serverUrl}/forumdisplay.php?f=${forumId}">
        <attribute name="param_forumId" value="32"/>
        <attribute name="queryPattern"
                   value="&lt;a href=&quot;showthread.php\?.+?t=(\d+?)&quot; id=&quot;thread_title_\1&quot;&gt;(.+?)&lt;/a&gt;"/>
     </repository>
     <repository
            repositoryKind="web"
            label="Eclipse Outliner (Google Code)"
            urlRepository="http://code.google.com/p/eclipse-outliner/issues"
            urlTask="${serverUrl}/detail?id="
            urlNewTask="${serverUrl}/entry"
            urlTaskQuery="${serverUrl}/list">
        <attribute name="queryPattern"
                   value="&lt;td.+?class=&quot;vt col_6&quot;.+?&lt;a.+?href=&quot;detail\?id=([0-9]+).+?&quot;&gt;(.+?)&lt;/a&gt;.+?&lt;/td&gt;"/>
     </repository>
     <repository
           anonymous="false"
           label="Eclipse Plugin for Mantis (Mantis)"
           repositoryKind="web"
           urlNewTask="${serverUrl}/bug_report_page.php"
           urlRepository="http://www.futureware.biz/mantis"
           urlTask="${serverUrl}/view.php?id="
           urlTaskQuery="${serverUrl}/view_all_bug_page.php">
        <attribute
              name="loginRequestMethod"
              value="POST">
        </attribute>
        <attribute
              name="loginRequestUrl"
              value="${serverUrl}/login.php?username=${userId}&amp;password=${password}">
        </attribute>
        <attribute name="queryPattern"
                   value="&lt;tr .+?&lt;a href=&quot;view.php\?id=(.+?)&quot;&gt;.+?&lt;td class=&quot;left&quot;&gt;(.+?)&lt;/td&gt;&lt;/tr&gt;"/>
     </repository>
     <!--
     <repository
           anonymous="true"
           label="ChangeLogic (anonymous)"
           repositoryKind="web"
           urlNewTask="${serverUrl}/index.php?event=Add_task"
           urlRepository="http://changelogic.araneaframework.org"
           urlTask="${serverUrl}/index.php?event=Show_public_task&amp;task_id="
           urlTaskQuery="${serverUrl}/index.php?event=Show_public_task_list">
        <attribute name="queryPattern"
              value="&lt;a href=&quot;index.php\?event\=Show_public_task&amp;amp;task_id\=.+?&amp;amp;project_id\=0&quot;&gt;(.+?)&lt;/a&gt;.+?&lt;/td&gt;.+?&lt;td&gt;.+?&lt;/td&gt;.+?&lt;td&gt;.+?&lt;/td&gt;.+?&lt;td&gt;.+?&lt;/td&gt;.+?&lt;td&gt;(.+?)&lt;/td&gt;"/>
     </repository>
     -->
     <repository
           anonymous="false"
           label="Aranea Framework (ChangeLogic)"
           repositoryKind="web"
           urlRepository="http://changelogic.araneaframework.org"
           urlTask="${serverUrl}/index.php?event=Show_task&amp;task_id="
           urlNewTask="${serverUrl}/index.php?event=Add_task&amp;project_id=${project_id}"
           urlTaskQuery="${serverUrl}/index.php?event=Show_public_task_list&amp;project_id=${project_id}&amp;page=-1&amp;cookietest=2">
        <attribute
              name="loginFormUrl"
              value="${serverUrl}/index.php?cookietest=1">
        </attribute>
        <attribute name="loginTokenPattern"
              value="&lt;form name=&quot;Login_form&quot; method=&quot;.+?&quot; action=&quot;index.php\?event\=Login&amp;amp;.*?project_id\=0&amp;amp;link_uid\=(\p{Alnum}+?)\&quot;.*?&gt;"/>
        <attribute name="loginRequestMethod" value="POST"/>
        <attribute name="loginRequestUrl"
              value="${serverUrl}/index.php?event=Login&amp;link_uid=${loginToken}&amp;username=${userId}&amp;password=${password}"/>
        <attribute name="queryPattern"
              value="&lt;a href=&quot;index.php\?event\=Show_.+?task.+?task_id=(.+?)&amp;.+?&lt;/td&gt;.+?&lt;td&gt;.+?&lt;/td&gt;.+?&lt;td&gt;.+?&lt;/td&gt;.+?&lt;td&gt;.+?&lt;/td&gt;.+?&lt;td&gt;.+?&lt;/td&gt;.+?&lt;td&gt;(.+?)&lt;/td&gt;"/>
        <attribute name="param_project_id" value="1"/>
     </repository>

     <repository
	      anonymous="false"
	      label="OTRS"
	      repositoryKind="web"
	      urlRepository="http://demo.otrs.org"
	      urlNewTask="${serverUrl}/otrs/index.pl?Action=AgentTicketPhone"
	      urlTask="${serverUrl}/otrs/index.pl?Action=AgentTicketZoom&amp;TicketID="
	      urlTaskQuery="${serverUrl}/otrs/index.pl?Action=AgentTicketMailbox">
	    <attribute name="queryPattern"
	                value="&lt;a href=\&quot;/otrs/index.pl\?Action=AgentTicketZoom&amp;TicketID=(.+?)&quot;.+?&lt;b&gt;Subject:&lt;/b&gt;.+?&lt;div title=&quot;.+?&quot;&gt;(.+?)&lt;/div&gt;&lt;/td&gt;"/>
	    <attribute name="loginRequestUrl"
	            value="${serverUrl}/otrs/index.pl?Action=Login&amp;User=${userId}&amp;Password=${password}"/>
     </repository>

     <repository
		      anonymous="false"
		      label="JavaForge (CodeLogic)"
		      repositoryKind="web"
		      urlRepository="http://www.javaforge.com/proj/tracker"
		      urlTask="${serverUrl}/itemDetails.do?navigation=true&amp;task_id="
		      urlNewTask="${serverUrl}/submitNew.do?tracker_id=${tracker_id}"
		      urlTaskQuery="${serverUrl}/browseAllTrackers.do?proj_id=${proj_id}&amp;tracker_type_id=${tracker_type_id}&amp;onlyOpen=false&amp;pagesize=0">
	     <attribute name="queryPattern"
                  value="&lt;a href=&quot;/proj/tracker/itemDetails.do\?.+?task_id=(\d+?)&quot;&gt;(.+?)&lt;/a&gt;"/>
       <attribute name="param_tracker_id" value="41"/>
       <attribute name="param_tracker_type_id" value="2"/>
       <attribute name="param_proj_id" value="11"/>
    </repository>

   </extension>

</plugin>
