<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
         point="org.eclipse.mylar.core.context">
      <structureBridge
            class="org.eclipse.mylar.internal.hypertext.WebStructureBridge"
            name="Hypertext Structure Bridge"/>
   </extension>
   <extension
         point="org.eclipse.mylar.ui.context">
      <uiBridge
            class="org.eclipse.mylar.internal.hypertext.WebUiBridge"
            contentType="http"
            id="org.eclipse.mylar.hypertext.uiBridge"/>
   </extension>

  	<extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.eclipse.mylar.ui.interest"
        objectClass="org.eclipse.mylar.internal.hypertext.WebSiteResource">
     	<action  
  		  	label="Mylar: Make Less Interesting" 
	  		tooltip="Mark selected element as uninteresting"
	  		menubarPath="mylar" 
	  		id="org.eclipse.mylar.ui.actions.InterestDecrementAction" 
	  		class="org.eclipse.mylar.internal.ui.actions.InterestDecrementAction"
	  		icon="icons/elcl16/interest-decrease.gif"
	  		enablesFor="*"/>
	    <action  
  		  	label="Mylar: Mark as Landmark" 
	  		tooltip="Make selected element a landmark"
	  		menubarPath="mylar" 
	  		id="org.eclipse.mylar.ui.actions.InterestIncrementAction" 
	  		class="org.eclipse.mylar.internal.ui.actions.InterestIncrementAction"
	  		icon="icons/elcl16/interest-increase.gif"
	  		enablesFor="*"/>
	 </objectContribution>
   </extension>

   <!-- ================================================================================ -->
   <!-- Common Navigator viewer for use in the Project Explorer							 -->
   <!-- ================================================================================ -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.mylar.internal.hypertext.WebSiteNavigatorContentProvider"
            icon="icons/obj16/web-root.gif"
            id="org.eclipse.mylar.hypertext.navigator"
            labelProvider="org.eclipse.mylar.internal.hypertext.ui.WebSiteNavigatorLabelProvider"
            name="Mylar Web Context (Experimental)">
         <triggerPoints>
            <or> 
            	<instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
            	<instanceof value="org.eclipse.mylar.internal.hypertext.WebSiteResource"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.eclipse.mylar.internal.hypertext.WebSiteResource"/>
         </possibleChildren>
        
        <!--
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
        -->
         <actionProvider
               class="org.eclipse.mylar.internal.hypertext.ui.WebSiteNavigatorActionProvider"
               id="org.eclipse.mylar.hypertext.actionProvider">
              <enablement>
				<or>
					<adapt type="org.eclipse.mylar.internal.hypertext.WebSite"/> 	
					<adapt type="org.eclipse.mylar.internal.hypertext.WebPage"/> 	
				</or>
			</enablement>
		 </actionProvider>
      </navigatorContent>
      
   </extension>
      <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.mylar.hypertext.navigator"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
         <category name="Team Logical Model Example" id="org.eclipse.mylar.hypertext.newWizards">
         </category>
      <wizard
            category="org.eclipse.mylar.hypertext.newWizards"
            icon="$nl$/icons/full/obj/root_obj.gif"
            name="Model Project"
            class="org.eclipse.mylar.hypertext.ui.NewModelProjectWizard"
            project="true"
            id="org.eclipse.mylar.hypertext.newModelProject">
            <description> 
              This wizard creates a model project that illustrates some of the logical model support in the Eclipse Platform
            </description>
      </wizard>
   </extension>
   -->
   
   <!-- ================================================================================ -->
   <!-- Model provider for the model example											 -->
   <!-- ================================================================================ -->
   <!--
   <extension
         id="modelProvider"
         name="Web Sites"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider class="org.eclipse.mylar.internal.hypertext.WebSiteModelProvider"/>
      <extends-model id="org.eclipse.core.resources.modelProvider"/>
      <enablement>
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.team.examples.filesystem.modelNature" />
      </enablement>
   </extension>
   -->
   
   
   

<!--
   <extension
         point="org.eclipse.mylar.tasklist.editors">
      <editorFactory class="org.eclipse.mylar.internal.hypertext.ui.editors.WebElementsEditorFactory"/>
   </extension>
-->

<!--
  <extension  
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.mylar.internal.hypertext.ui.editors.WebResourceContentProvider"
            icon="icons/etool16/browser-editor.gif"
            id="org.eclipse.mylar.hypertext.navigator.webContent"
            labelProvider="org.eclipse.mylar.internal.hypertext.ui.editors.WebResourceLabelProvider"
            name="Web Pages"
            priority="low">
		 <triggerPoints> 
		 	<or>
			<instanceof
				value="java.lang.String"/>
			</or>
		</triggerPoints>              
      </navigatorContent>
  </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding 
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>	       	      
	          <contentExtension pattern="org.eclipse.mylar.hypertext.navigator.webContent"/>
          </includes>
       </viewerContentBinding>
  </extension>
-->
  
</plugin>
