<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
         point="org.eclipse.mylar.context.core.bridges">
      <structureBridge
            class="org.eclipse.mylar.internal.web.WebResourceStructureBridge"
            name="Web Resource Structure Bridge"/>
   </extension> 
   <extension
         point="org.eclipse.mylar.context.ui.bridges">
      <uiBridge
            class="org.eclipse.mylar.internal.web.ui.WebResourceUiBridge"
            contentType="http"
            id="org.eclipse.mylar.web.uiBridge"/>
   </extension>

  	<extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.eclipse.mylar.ui.interest"
        objectClass="org.eclipse.mylar.internal.web.WebResource">
     	<action  
  		  	label="Make Less Interesting" 
	  		tooltip="Mark selected element as uninteresting"
	  		menubarPath="mylar" 
	  		id="org.eclipse.mylar.web.ui.actions.InterestDecrementAction" 
	  		class="org.eclipse.mylar.internal.context.ui.actions.InterestDecrementAction"
	  		icon="icons/elcl16/interest-decrease.gif"
	  		enablesFor="*"/>
	    <action  
  		  	label="Mark as Landmark" 
	  		tooltip="Make selected element a landmark"
	  		menubarPath="mylar" 
	  		id="org.eclipse.mylar.web.ui.actions.InterestIncrementAction" 
	  		class="org.eclipse.mylar.internal.context.ui.actions.InterestIncrementAction"
	  		icon="icons/elcl16/interest-increase.gif"
	  		enablesFor="*"/>
	 </objectContribution>
   </extension>

   <!-- ================================================================================ -->
   <!-- Common Navigator sample content for web resources							 -->
   <!-- ================================================================================ -->
   <!--
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.mylar.internal.web.WebResourceContentProvider"
            icon="icons/obj16/web-root.gif"
            id="org.eclipse.mylar.web.navigator"
            labelProvider="org.eclipse.mylar.internal.web.ui.WebSiteNavigatorLabelProvider"
            name="Mylar Web Context (Experimental)"
            priority="lowest">
         <triggerPoints>
            <or> 
            	<instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
            	<instanceof value="org.eclipse.mylar.internal.web.WebResource"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.eclipse.mylar.internal.web.WebResource"/>
         </possibleChildren>
        
        !-
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
        -
         <actionProvider
               class="org.eclipse.mylar.internal.web.ui.WebSiteNavigatorActionProvider"
               id="org.eclipse.mylar.web.actionProvider">
              <enablement>
				<or>
					<adapt type="org.eclipse.mylar.internal.web.WebSite"/> 	
					<adapt type="org.eclipse.mylar.internal.web.WebPage"/> 	
				</or>
			</enablement>
		 </actionProvider>
		 
		<commonSorter
              class="org.eclipse.mylar.context.ui.InterestSorter"
              id="org.eclipse.mylar.web.sorter.interest">
           <parentExpression>
           		  <or>           
		            <instanceof value="org.eclipse.mylar.internal.web.WebResource" /> 
		         </or>
		   </parentExpression>
        </commonSorter>
   </navigatorContent>
  	</extension>
      
  <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.mylar.web.navigator"/>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding 
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>	       	      
	          <contentExtension pattern="org.eclipse.mylar.web.navigator.webContent"/>
          </includes>
       </viewerContentBinding>
      !-
	  <dragAssistant
          class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
          viewerId="org.eclipse.mylar.web.navigator.dragAssistant"/>
      -
   </extension>
   -->

  	<!-- ==================== Context Editing ==================== -->
	
    <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding 
             viewerId="org.eclipse.mylar.context.ui.navigator.context">
          <includes>		       	      
          	  <contentExtension pattern="org.eclipse.mylar.web.navigator"/>
          </includes>
       </viewerContentBinding>
       <viewerContentBinding 
             viewerId="org.eclipse.mylar.context.ui.navigator.context.quick">
          <includes>		       	      
          	  <contentExtension pattern="org.eclipse.mylar.web.navigator"/>
          </includes>
       </viewerContentBinding>
   </extension>	
 
  
</plugin>
