<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
       point="org.eclipse.ui.activities">

	<!-- Task Management category -->
	<category id="org.eclipse.galileo.tasks.Category"
		description="%activity.cat.tasks.desc"
		name="%activity.cat.tasks" />

    <!-- Mylyn category bindings and default enablement -->
	<categoryActivityBinding
		activityId="org.eclipse.mylyn.capabilities.taskManagement"
		categoryId="org.eclipse.galileo.tasks.Category">
	</categoryActivityBinding>
	<defaultEnablement
		id="org.eclipse.mylyn.capabilities.taskManagement">
	</defaultEnablement>
	<categoryActivityBinding
		activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
		categoryId="org.eclipse.galileo.tasks.Category">
	</categoryActivityBinding>
	<defaultEnablement
		id="org.eclipse.mylyn.capabilities.taskFocusedInterface">
	</defaultEnablement>
	<categoryActivityBinding
		activityId="org.eclipse.mylyn.capabilities.wikiText"
		categoryId="org.eclipse.galileo.tasks.Category">
	</categoryActivityBinding>
	<defaultEnablement
		id="org.eclipse.mylyn.capabilities.wikiText">
	</defaultEnablement>
	
	</extension>
</plugin>
