<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.eclipse.mylyn.ui.instrospection"
        objectClass="java.lang.Object">
	    <action  
  		  	label="Sanbox: Introspect Object" 
	  		menubarPath="additions" 
	  		id="org.eclipse.mylyn.sandbox.actions.introspect" 
	  		class="org.eclipse.mylyn.internal.sandbox.dev.IntrospectObjectAction"
	  		enablesFor="1"/>
	 </objectContribution>
	</extension>
  
     <extension point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            label="Sandbox: Interest Level Decorator"
            class="org.eclipse.mylyn.internal.sandbox.dev.InterestDebuggingDecorator"
            state="false"
            id="org.eclipse.mylyn.sandbox.ui.decorator.interest">
         <description>
			Appends interest level to nodes
		 </description>
         <enablement>
            <objectClass name="java.lang.Object"/>
         </enablement>
      </decorator>
   </extension>
  
  <extension point="org.eclipse.ui.popupMenus"> 
     <objectContribution
     	   adaptable="false"
           id="org.eclipse.mylyn.java.ui.interest.decrease.contribution"
           objectClass="org.eclipse.jdt.core.IJavaElement">
	    <action
           class="org.eclipse.mylyn.internal.sandbox.dev.InterestDecrementAction"
           enablesFor="*"
           id="org.eclipse.mylyn.java.ui.interest.increase.element"
           label="Make Less Interesting (Experimental)"
           menubarPath="group.reorganize">
     </action>
     <visibility>
     	<and>
	     	<systemProperty
	               name="org.eclipse.mylyn.context.core.context.active"
    	           value="true">
    	    </systemProperty>
           <objectClass
                 name="org.eclipse.jdt.core.IMember">
           </objectClass>
        </and>
     </visibility>
	 </objectContribution>
	</extension>
  
</plugin>
