<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.eclipse.mylyn.internal.examples.xml.core.XmlConnector">
      </connectorCore>
      <connectorUi
            class="org.eclipse.mylyn.internal.examples.xml.ui.XmlConnectorUi">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            anonymous="true"
            label="Local Workspace"
            repositoryKind="org.eclipse.mylyn.xml"
            urlRepository="Tasks">
      </repository>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.eclipse.mylyn.internal.examples.xml.ui.XmlTaskEditorPageFactory"
            id="org.eclipse.mylyn.xml.ui.pageFactory">
      </pageFactory>
   </extension>
</plugin>
