<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <!--
   <extension
         id="org.eclipse.mylyn.ide.capabilities"
         name="General"
         point="org.eclipse.ui.activities">
      <category
            id="org.eclipse.mylyn.capabilities.category"
            name="%activity.category.name">
      </category>
   </extension>
   -->
   <extension
         id="org.eclipse.mylyn.ide.capabilities.taskManagement"
         name="Task Management"
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.mylyn.capabilities.taskManagement"
            name="%activity.Task_Management.name">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.tasks\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.bugzilla\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.bugzilla\.ide/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.help\.sdk/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.help\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.java\.tasks/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.jira\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.help\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.trac\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.web\.tasks/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskManagement"
            pattern="org\.eclipse\.mylyn\.xplanner\.ui/.*">
      </activityPatternBinding>
   </extension>
   <extension
         id="org.eclipse.mylyn.ide.capabilities.taskFocusedInterface"
         name="Task-Focused Interface"
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            name="%activity.Task_Focused_Interface.name">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.context\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.ide\.ant/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.ide\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.java\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.monitor\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.pde\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.resources\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.taskFocusedInterface"
            pattern="org\.eclipse\.mylyn\.team\.ui/.*">
      </activityPatternBinding>
   </extension>
   <extension
         id="org.eclipse.mylyn.ide.capabilities.wikitext"
         name="WikiText"
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.mylyn.capabilities.wikiText"
            name="%activity.WikiText.name">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.mylyn.capabilities.wikiText"
            pattern="org\.eclipse\.mylyn\.wikitext\..*/.*">
      </activityPatternBinding>
   </extension> 

</plugin>
