<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2009 Tasktop Technologies and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
         Tasktop Technologies - initial API and implementation
 -->

<plugin>
     <extension point = "org.eclipse.ui.popupMenus">
     <viewerContribution
        id="org.eclipse.mylyn.monitor.ui.commands"
        targetID="org.eclipse.jdt.ui.PackageExplorer">
	    <action  
  		  	label="Reports: My Usage Summary" 
	  		tooltip="Mylyn Reports: Usage Summary"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.packageExplorer.ComputeMySummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.EclipseUsageSummaryAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	  	<action  
  		  	label="Reports: Mylyn User Analysis" 
	  		tooltip="Mylyn Reports: User Analysis"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.packageExplorer.ComputeSummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.FocusedUiUserAnalysisAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	 </viewerContribution> 
	 <viewerContribution
        id="org.eclipse.mylyn.monitor.ui.commands"
        targetID="org.eclipse.ui.views.ResourceNavigator">
	    <action  
  		  	label="Reports: My Usage Summary" 
	  		tooltip="Mylyn Reports: My Usage Summary"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.resourceNavigator.ComputeMySummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.EclipseUsageSummaryAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	  		    <action  
  		  	label="Reports: Mylyn User Analysis" 
	  		tooltip="Mylyn Reports: User Analysis"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.resourceNavigator.ComputeSummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.FocusedUiUserAnalysisAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	 </viewerContribution> 
   </extension>
	  		
	  		
	<extension point="org.eclipse.ui.editors">
        <editor
           icon="icons/eview16/monitor.gif"
           class="org.eclipse.mylyn.internal.monitor.usage.editors.UsageSummaryReportEditorPart"
           name="Multi-user Analysis"
           id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.monitorUsersReport"/>
  	</extension>
  	
</plugin>

