<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?eclipse version="3.0"?>
<plugin>
   
</plugin>

        <!--
	    <action
           class="org.eclipse.mylar.monitor.reports.ui.actions.ShowInteractionHistory"
           enablesFor="1"
           icon="icons/eview16/monitor.gif"
           id="org.eclipse.mylar.ui.actions.ShowInteractionHistory"
           label="Show interarction history"
           menubarPath="mylar.monitor"
           tooltip="Show interaction history"/> 
        -->
<!--
   <extension
         id="org.eclipse.mylar.reports.views.UsageCountView"
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.mylar"
            class="org.eclipse.mylar.monitor.reports.ui.views.UsageCountView"
            icon="icons/eview16/monitor.gif"
            id="org.eclipse.mylar.monitor.reports.ui.UsageCountView"
            name="Usage Statistics"/>
   </extension>
-->
