<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.eclipse.mylyn.xplanner.repository"
         name="%repositoryName"
         point="org.eclipse.mylyn.tasks.ui.repositories">

      <connectorCore
            class="org.eclipse.mylyn.xplanner.ui.XPlannerRepositoryConnector"
            id="org.eclipse.mylyn.xplanner.tasklist.repositories"
            name="%connectorName"
            type="xPlanner"/>
	  <connectorUi
         brandingIcon="icons/eview16/xplanner-logo.gif"
         class="org.eclipse.mylyn.xplanner.ui.XPlannerRepositoryUi"
         name="%connectorUiName"
         overlayIcon="icons/eview16/overlay-xplanner.gif"/>
            
      <taskListFactory
            class="org.eclipse.mylyn.xplanner.ui.XPlannerTaskListFactory"
            id="org.eclipse.mylyn.xplanner.tasklist.taskListFactory"/>
   </extension>  
   
   <!--
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.mylyn.xplanner.ui.XPlannerTaskEditor"
            default="false"
            id="org.eclipse.mylyn.xplanner.task.editor"
            name="%editorNameTask"/>
   </extension>
   -->
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <editorFactory
            class="org.eclipse.mylyn.xplanner.ui.editor.XPlannerTaskEditorFactory"
            id="org.eclipse.mylyn.xplanner.ui.XPlannerTaskEditorFactory"/>
   </extension>

</plugin>
