<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
  <extension
         id="org.eclipse.mylar.viz.seesoft.provider.contribution"
         name="Mylar Visualiser Provider"
         point="org.eclipse.contribution.visualiser.providers">
      
        <provider
	        id="org.eclipse.mylar.viz.seesoft.provider"
            name="Mylar Planning Provider"
            priority="9"
            emptyMessage="No active Mylar context to display"
            description="Shows java declarations that are part of the Mylar task context."
            contentProviderClass="org.eclipse.mylar.internal.viz.seesoft.JavaContextContentProvider" 
            markupProviderClass="org.eclipse.mylar.internal.viz.seesoft.JavaContextMarkupProvider">
        </provider>
  </extension>     

   <extension point="org.eclipse.ui.views"> 
	  <view name="Sandbox: Context Tree"
            icon="icons/eview16/model.gif"
            category="org.eclipse.mylar"
            class="org.eclipse.mylar.internal.viz.views.MylarContextTreeView"
            id="org.eclipse.mylar.ui.views.TaskscapeTreeView">
      </view> 
	  <view name="Sandbox: Context Control Panel"
        icon="icons/eview16/control-panel.gif"
        category="org.eclipse.mylar"
        class="org.eclipse.mylar.internal.viz.views.MylarControlPanelView"
        id="org.eclipse.mylar.ui.views.MylarControlPanelView">
      </view>
  </extension>

   <extension point="org.eclipse.ui.views"> 
	  <view name="Sandbox: Context Graph" 
	    icon="icons/eview16/taskscape.gif"
	  	category="org.eclipse.mylar" 
	  	class="org.eclipse.mylar.internal.viz.graph.TaskscapeGraphView" 
	  	id="org.eclipse.mylar.sandbox.viz.TaskscapeVizView" />
   </extension>

</plugin>
